html {
    min-height:100vh;
    position: relative;
}

@font-face {
    font-family: "Stardew Valley Regular";
    src: url("fonts/stardew_valley-webfont.woff") format("woff"),
         url("fonts/stardew_valley-webfont.woff2") format("woff2");
  }

body {
    margin: 0px;
    background-color: #999;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    font-family: sans-serif;
}

nav {
    z-index: 99;
    position: fixed;
    top: 0;
    min-width: 100%;
}

.menu-button {
    background: #0559ac;
    padding: 10px;
    text-align: center;
}

#arrow {
    height: 1.5em;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #0559ac;
}

.menu a:link, .menu a:visited {
    display:block;
    padding: 10px;
    font-family: "Suez One", serif;
    font-size: 1.5em;
    color: #fee300;
    text-transform: uppercase;
}

.menu a:active, .menu a:hover {
    background: #074b8d;
}

#site-name {
    padding: 0.8em 0 0 0;
}

header {
    z-index: -1;
    position: relative;
    text-align:center;
    margin: 2rem;
    font-family: "Suez One", serif;
    font-size: 5rem;
    color: #fee300;
    transform: skew(5deg);
    transform: rotate(-5deg);
    line-height:0.9em;
    text-shadow: -1px -1px #e0a000,
                1px 1px #735000,
                2px 2px #735000,
                -2px -2px #e0a000,
                -3px -3px #e0a000,
                -4px -4px #e0a000,
                -5px -5px #e0a000,
                -6px -6px #735000,
                -7px -7px #735000,
                -8px -8px #413014,
                -9px -9px #413014;
}

main {
    padding-bottom: 6em;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

article {
    width:80%;
    padding:20px;
    background: #3185d8;
    margin-bottom: 30px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 1px 1px #247dd4,
                2px 2px #247dd4,
                3px 3px #247dd4,
                4px 4px #1370ca,
                5px 5px #1370ca;
}

.article-img {
    position: relative;
}

.article-img img {
    width: 100%;
}

.caption {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-family: "Suez One", serif;
    font-size: 2rem;
    color: #cbebfa;
    text-shadow: 1px 1px #247dd4,
                 2px 2px #1370ca,
                 3px 3px #1370ca;
}

.desc {
    display: none;
}

.morelink {
    display: block;
    text-align: right;
    padding-top: 10px;
}

h1 {    
    font-family: "Suez One", serif;
    font-weight: normal;
    color: #cbebfa;
}

a:link, a:visited {
    text-decoration: none;
    color: #5cd9eb;
}

a:active, a:hover {
    
}

@keyframes envelope {
    0% {transform: rotate(5deg);}
    10% {transform: rotate(-5deg);}
    20% {transform: rotate(5deg);}
    30% {transform: rotate(0deg);}
    70% {transform: rotate(0deg);}
    80% {transform: rotate(5deg);}
    90% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}

.envelope {
    z-index: 0;
    position: static;
    animation: envelope;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 100px;
    padding: 20px 0 10px 0;
}

@keyframes envelope_hover {
    from {transform: scale(1,1)}
    to {transform: scale(1.1,1.1)}
}

.envelope:hover {
    z-index: 0;
    position: static;
    animation: envelope_hover;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.letter-bg {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    background: rgb(0,0,0,0.5);
}

.letter {
    background: url('img/letter_bg.png');
    width: 320px;
    height: 180px;
    margin: 10% auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Stardew Valley Regular", sans-serif;
    font-size: 1.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    background: #196379;
    padding: 20px 0px;
    text-align: center;
}

@media (min-width: 580px) {
    main {
        flex-flow: row wrap;
        justify-content: center;
    }
    article {
        width: 35%;
        margin: 3%;
    }
    .welcome {
        flex-basis: 80%;
    }
}

@media (min-width: 1400px) {
    main {
        flex-flow: row nowrap;
        justify-content: center;
    }
    article {
        /* width: 300px; */
        margin: 20px;
    }
    .desc {
        display: inline-block;
    }
    .welcome {
        /* flex-basis: auto; */
        order: 3;
    }
    .festivals {
        order: 1;
    }
    .attractions {
        order: 2;
    }
    .calendar {
        order: 4;
    }
    .nearby {
        order: 5;
    }
}